# SEMANA 05
EDGAR RAUL CUSI OSCCORIMA

TEMAS:

1.numeros
2.variables
3.Manejo de cadenas
4.Ingreso de datos por teclado
5.operadores

2.Cadenas

In [4]:
cadena = "Universidad Nacional Tecnologica de Lima Sur"
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [2]:
#UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR

In [5]:
cadena[5]

'r'

In [6]:
cadena[10]

'd'

In [8]:
cadena[11]

' '

In [9]:
cadena[-5]

'a'

In [10]:
cadena[21]

'T'

In [13]:
cadena[-23]

'T'

In [17]:
#SUBCADENA
cadena[12:20]

'Nacional'

In [18]:
#TAMAÑO DE CADEANAS len()
len(cadena)

44

In [31]:
#CONVERTIR A MAYUSCULAS
cadena = cadena.upper()
cadena

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [29]:
#CONVERTIR A MINUSCULAS
cadena.lower()

'universidad nacional tecnologica de lima sur'

In [37]:
#CONVERTIR UNA CADE A LISTA
cadena.split()

['UNIVERSIDAD', 'NACIONAL', 'TECNOLOGICA', 'DE', 'LIMA', 'SUR']

In [39]:
#CONVERTIR UNA CADE A LISTA UTILIZANDO COMO CRITERIO DE SEPARACION LA LETRA A
cadena.split("A")

['UNIVERSID', 'D N', 'CION', 'L TECNOLOGIC', ' DE LIM', ' SUR']

In [42]:
#CONCATENAR
nombre="EDGAR"
print("BUENOS DIAS "+nombre)

BUENOS DIAS EDGAR

In [48]:
#CONCATENAR EL .format()
nombre = "Edgar"
edad = 12
print("Hola {} ya se que tienes {} años".format(nombre, edad))

Hola Edgar ya se que tienes 12 años

In [47]:
#dar formato con muchs decimales
resultado = 10/3
print("18/3 es {}".format(resultado))
print("10/3 es {r:1.3f}".format(r=resultado))

18/3 es 3.3333333333333335
10/3 es 3.333

In [51]:
#dar formato con f
# ñla funcion f esta disponibe desd elña version 3.6

nombre = " Daniel Levano "
edad = 18
print(f"Buenos dias{nombre}ya se que tienes {edad}")

Buenos dias Daniel Levano ya se que tienes 18

In [53]:
#dar frioamto con muchosdecimlaes
resultado = 10/3
print(f"El resultado es {resultado:1.3f}")

El resultado es 3.333