# SEMANA 06
EDGAR RAUL CUSI OSCCORIMA

1.Colecciones de datos

In [26]:
#1.1. Listas
#Es una coleccion de elementos que pueden ser ordenados, modificados, etc.
#Se identifica por los corchetes que muestra la lista
#Ejemplo
aula = ['Cusi','Gomez','Granados','Laura']
print(aula)

['Cusi', 'Gomez', 'Granados', 'Laura']

In [27]:
aula

['Cusi', 'Gomez', 'Granados', 'Laura']

In [28]:
#Podemos extraer cada elemento por su posición
print(aula[0])
print(aula[1])

Cusi
Gomez

In [29]:
#Puedo asignar un valor a una posicion de la lista
aula[3] = 'Quintana'
print(aula[3])

Quintana

In [30]:
#Mostramos como quedó la lista
aula

['Cusi', 'Gomez', 'Granados', 'Quintana']

In [31]:
#Para agregar un elemento usamos la funcion append
aula.append('Laura')
aula

['Cusi', 'Gomez', 'Granados', 'Quintana', 'Laura']

In [32]:
#Para elminar elementos de ua lista utilizamos remove[]
aula.remove('Quintana')
aula

['Cusi', 'Gomez', 'Granados', 'Laura']

In [33]:
#Si hubiera varios elementos de valores iguales se elimina la primera coicidencia
aula.append('Gomez')

In [34]:
aula

['Cusi', 'Gomez', 'Granados', 'Laura', 'Gomez']

In [35]:
aula.remove('Gomez')

In [36]:
aula

['Cusi', 'Granados', 'Laura', 'Gomez']

In [37]:
#Para obtener el tamaño que utilizamos len()
len(aula)

4

In [38]:
#Eliminar por indice
aula.remove(aula[3])
aula

['Cusi', 'Granados', 'Laura']

In [39]:
aula.pop(2)
aula

['Cusi', 'Granados']

In [40]:
for alumno in aula:
    print(alumno)

Cusi
Granados

In [41]:
aula.append('Vilca')
aula.append('Gomez')
aula

['Cusi', 'Granados', 'Vilca', 'Gomez']

In [42]:
for alumno in aula:
    print(alumno)

Cusi
Granados
Vilca
Gomez

In [45]:
#Para invertur la lista utilizamos reverse
#Invertir no signifca ordenar
aula.reverse()
aula

['Gomez', 'Vilca', 'Granados', 'Cusi']

In [46]:
#Para ordenar alfabeticamente utilizamos sort()
aula.sort()
aula

['Cusi', 'Gomez', 'Granados', 'Vilca']

In [47]:
#1.2 Tuplas
#Es una coleccion de elementos ordenada(ordenado significa que tiene un índice ) que no se pueden modificar
#Es INALTERABLE
#No SE PUEDE AGREGAR ELEMENTOS NI ELMINAR
#Se IDENTIFICAN POR LOS PARENTÉSIS

tupla_aula = ('Granados','Julca','Cusi','Gomez')
tupla_aula

('Granados', 'Julca', 'Cusi', 'Gomez')

In [48]:
for alumno in tupla_aula:
    print(alumno)

Granados
Julca
Cusi
Gomez

In [51]:
#
tupla_aula[2]

'Cusi'

In [52]:
len(tupla_aula)

4

In [53]:
#1.3 Conjuntos
#Es una colección de elemntos que no está ordenada(singinifca que no tiene indice)
conjunto_aula = {'Granados','Julca','Cusi','Gomez'}
conjunto_aula

{'Cusi', 'Gomez', 'Granados', 'Julca'}

In [54]:
for alumno in conjunto_aula:
    print(alumno)

Granados
Cusi
Gomez
Julca

In [56]:
#Observacion : no se puede acceder por posición porque no condidera indexación
#Ejemplo
#conjunto_aula[2] devolvera error

In [57]:
len(conjunto_aula)

4

In [58]:
#Para agregar utilizamos la función add()
conjunto_aula.add("Motta")

In [59]:
conjunto_aula

{'Cusi', 'Gomez', 'Granados', 'Julca', 'Motta'}

In [60]:
#eliminar
conjunto_aula.remove('Granados')
conjunto_aula

{'Cusi', 'Gomez', 'Julca', 'Motta'}

In [61]:
# 1.4 Diccionarios
#coleccion de elementos que estan indexados , no ordenados que se pueden modificar
#Escritos entre llaves y estan formados por pares de elementos  INDICE:VALOR

diccionario_aula ={2:'Cusi','1':'Julca','dos':'Gomez','0':'Motta'}
diccionario_aula

{2: 'Cusi', '1': 'Julca', 'dos': 'Gomez', '0': 'Motta'}

In [62]:
#Del diccionario extraer el valor cuyo indice sea String
diccionario_aula['0']

'Motta'

In [63]:
diccionario_aula[2]

'Cusi'

In [64]:
diccionario_aula['dos']

'Gomez'

In [65]:
#añadir elemntos al diccionario
diccionario_aula['20']='Serna'
diccionario_aula

{2: 'Cusi', '1': 'Julca', 'dos': 'Gomez', '0': 'Motta', '20': 'Serna'}

In [66]:
#eliminar 
diccionario_aula.pop(2)
diccionario_aula

{'1': 'Julca', 'dos': 'Gomez', '0': 'Motta', '20': 'Serna'}

In [67]:
#elimnar usando del
del (diccionario_aula['dos'])
diccionario_aula

{'1': 'Julca', '0': 'Motta', '20': 'Serna'}

In [68]:
#Para recorrer todos los elementos utlizamos for 
#ejemplo
for indice in diccionario_aula:
    print(indice)

1
0
20

In [69]:
#para obtenr el indice y el valkro de cada elemntos utilizamos items()
for indice, valor in diccionario_aula.items():
    print(indice, valor)

1 Julca
0 Motta
20 Serna

In [ ]:
#1.5 Ejercicio:
#Dado una lista de [] diseñar un codigo que muestre si el apellido de un
# estudiante (ingreso por teclado forma parte de lista)
lista_alumnos = ['ALANYA' ,
'ALVA' ,
'AZAÑERO' ,
'CARRASCO' ,
'CCACCYA', 
'COSME' ,
'CUSI' ,
'DIAZ' ,
'FLORES', 
'GOMEZ' ,
'GOMEZ' ,
'GRANADOS',
'HUANCAS',
'JULCA' ,
'LAURA' ,
'MOTTA' ,
'PINEDO' ,
'PONCE' ,
'QUINTANA',
'RODRIGUEZ',
'SERNA' ,
'VILCA' ,
'YAURICASA']
lista_alumnos

In [ ]:

apellido = input("Ingrese un apellido :")
if (apellido in lista_alumnos):
    print("El apellido esta en la lista")
else:
    print("El apellido no esta en la lista")